entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[workflows]
runButton = "flask run"

[[workflows.workflow]]
name = "flask run"
mode = "sequential"
author = 39953335

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
